@{
    ViewData["Title"] = "Pagina Incial";
}

<div class="text-center">
    <h1 class="display-4">Lista de funcionarios</h1>
    <p>Sistema de funcionario para desenvolver, controle no sistema de funcionarios</p>
</div>
