@{
    ViewData["Title"] = "Editar Funcionario";
}

<div class="text-center">
    <h1 class="display-4">Confirmação da Deletação do funcionario(Raissa)?</h1>
</div>


<a role="button" class="btn btn-danger btn-block" asp-controller="Funcionario" asp-action="Apagar">Congfirmar a Deleção</a>