@{
    ViewData["Title"] = "Consultar lista de Funcionarios";
}

<div class="text-center">
    <h1 class="display-4">Consulta de listagem de Funcionario</h1>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Profissão</th>
      <th scope="col">Tempo de experiência(em anos)</th>
      <th scope="col">Salario</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@gmail.com</td>
      <td>Desenvolvedor PHP</td>
      <td>5</td>
      <td>5000.0</td>
      <td>
         <a role="button" asp-controller="Funcionario" asp-action="Editar" class="btn btn-primary">Editar</a>
         <a role="button" asp-controller="Funcionario" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>jacob@gmail.com</td>
      <td>Desenvolvedor C#</td>
      <td>3</td>
      <td>8000.0</td>
       <td>
         <a role="button" asp-controller="Funcionario" asp-action="Editar" class="btn btn-primary">Editar</a>
         <a role="button" asp-controller="Funcionario" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Marcelo</td>
      <td>marcelo@gmail.com</td>
      <td>Desenvolvedor Java</td>
      <td>8</td>
      <td>9000.0</td>
       <td>
         <a role="button" asp-controller="Funcionario" asp-action="Editar" class="btn btn-primary">Editar</a>
         <a role="button" asp-controller="Funcionario" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
  </tbody>
</table>